body {
    background-color:#dfd8d8;
}


header {
      text-align: center;
      padding: 60px 0;
      background-color: #f8f9fa;
    }
    .livros-destaque {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
      gap: 20px;
    }
    .livros-destaque .card {
      width: 250px;
      border: none;
      text-align: center;
      margin: 0 auto;
    }
    .livros-destaque .card img {
      width: 200px;
      height: 320px;
      object-fit: cover;
      margin-top: 15px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }


.livro-detalhes {
      max-width: 800px;
      margin: 40px auto;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
.livro-detalhes img {
      max-width: 250px;
      height: auto;
      margin-right: 30px;
    }
.livro-info {
      display: flex;
      flex-wrap: wrap;
    }
 
